body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.header, .title, .footer {
    background: #1f2937;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
}

.headerLogo {
    font-size: 24px;
    font-weight: 900;
}

.mainText {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.secondaryText {
    color: #e5e7eb;
    font-size: 18px;
}

.titleImage {
    background: #e5e7eb;
    color: #f9faf8;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titleButton {
    background: #3882f6;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.randomInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

.infoHeaderText {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 5%;
}

.infoImages {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.infoImage img {
    max-width: 100px;
}

.imageSubtext {
    color: #8d8d8d;
    font-size: 10px;
}

.inspiringQuote {
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.attribution {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    text-align: right;
}

.callToAction {
    background: #3882f6;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.callText {
    font-size: 24px;
    font-weight: 900;
}

.callSubText {
    font-size: 18px;
}

.callButton {
    background: #3882f6;
    border-color: white;
    border-radius: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    color: #f9faf8;
    text-align: center;
    padding: 5%;
}